@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p> Furkan KOÇ</p>
<p> Crewin Task</p>
<p>27.10.2024</p>
<p> Furkan KOÇ</p>
<p>Use this page to detail your site's privacy policy.</p>
